{% extends 'userArea/layoutUserArea.njk' %}

{% block head_content %}
  <title>FOODFY - Receitas</title>
{% endblock %}

{% block content %}
  {% for recipe in recipes %}
    {% include 'recipe-block.njk' %}
    <hr>
  {% endfor %}
{% endblock %}
