<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    {% block head_content %}
      <title>FOODFY Admin</title>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body class="adminArea">
    <header>
      <div class="container">
        <div class="links">
          <a href="/admin/">
            <img src="/images/logo.png" alt="FOODFY">
          </a>
        </div>
      </div>
    </header>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <script src="/script.js"></script>
  </body>
</html>
