<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    {% block head_content %}
      <title>FOODFY</title>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <div>
          <a href="/">
            <img src="/images/logo.png" alt="FOODFY">
          </a>
          <a href="/about" class="nav {{ pageAbout }}">Sobre</a>
          <a href="/recipes" class="nav {{ pageRecipes }}">Receitas</a>
        </div>
      </header>

      {% block top_content %}{% endblock %}

      <section>
        {% block content %}{% endblock %}
      </section>

    </div>
    <footer>Todos direitos reservados, receitas Foodfy.</footer>

    <script src="/script.js"></script>
  </body>
</html>
