@import 'https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap';

:root {
  --fontFace-roboto: 'Roboto', sans-serif;
  --fontColor-black: #111;
  --fontColor-gray4: #444;
  --fontColor-gray7: #777;
  --fontColor-gray9: #999;
  --fontColor-grayE: #EEE;
  --color-link: #6558C3;
}

* {
  border: 0 none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFace-roboto);
}

section {
  margin: 50px 0;
}

section hr {
  border-top: 1px dashed var(--fontColor-gray9);
  height: 1px;
  margin: 50px 0;
  width: 100%;
}

section hr:last-child {
  display: none;
}

h1, h2, h3 {
  color: var(--fontColor-black);
  font-weight: bold;
}

h2, h3 {
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
}

/* === HEADER === */
header {
  margin-top: 36.1px;
}

header div {
  align-items: center;
  display: flex;
}

header img {
  height: 26.9px;
  margin-right: 122.4px;
  width: 90.6px;
}

header a {
  color: var(--fontColor-black);
  font-size: 16px;
  text-decoration: none;
}

header a.active {
  font-weight: bold;
}

header a:last-child {
  margin-left: 30px;
}

/* === BANNER TOP === */
.banner-top {
  align-items: center;
  background: #FBDFDB;
  border-radius: 30px;
  display: flex;
  height: 366px;
  margin-top: 30px;
  position: relative;
  width: 100%;
}

.banner-top div {
  margin: 0 124px 0 60px;
}

.banner-top div p {
  color: black;
  opacity: 70%;
  width: 316px;
}

.banner-top img {
  bottom: 0;
  position: absolute;
  right: 100px;
}

/* === CONTENT BLOCK === */
.content-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 20px;
}

.content-block .card {
  cursor: pointer;
}

.content-block .card a {
  display: block;
  text-decoration: none;
}

.content-block .card a:hover {
  opacity: .9;
}

.content-block img {
  border-radius: 15px;
  height: 140px;
  width: 300px;
}

.content-block h4 {
  color: var(--fontColor-black);
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;
}

.content-block span {
  color: var(--fontColor-gray7);
  font-size: 14px;
  line-height: 16px;
}

/* === CONTENT PAGE === */
.content-page .image-recipes {
  border-radius: 15px;
  height: 280px;
  margin-bottom: 50px;
  overflow: hidden;
}

.content-page .image-recipes img {
  height: auto;
  width: 100%;
}

.title-recipes {
  text-align: center;
}

.title-recipes h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 4px;
}

.title-recipes h3 {
  color: var(--fontColor-gray7);
  margin-bottom: 23px;
}

.content-page h2 {
  display: inline-block;
  margin: 27px 8px 20px 0;
}

.content-page h2 ~ a {
  color: var(--fontColor-gray9);
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.content-page .list-details {
  color: var(--fontColor-gray4);
  display: none;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
  padding-left: 18px;
}

.content-page .list-details.informations {
  margin-bottom: 0;
  padding-left: 0;
}

.content-page .list-details.active {
  display: block;
}

/* === ABOUT PAGE === */
.about-page p {
  color: var(--fontColor-gray4);
  margin-bottom: 30px;
}

/* === Footer === */
footer {
  align-items: center;
  background-color: var(--fontColor-grayE);
  color: var(--fontColor-gray9);
  display: flex;
  font-size: 14px;
  height: 62px;
  justify-content: center;
  line-height: 16px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

/* === MODAL === */
.modal-overlay {
  align-items: center;
  background: rgba(0, 0, 0, .6);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-overlay .modal-content {
  background: white;
  border-radius: 16px;
  height: 413px;
  margin: 0 auto;
  text-align: center;
  width: 660px;
}

.modal-overlay .modal-content img {
  border-radius: 15px;
  height: 200px;
  margin: 30px auto 20px;
  width: 600px;
}

.modal-overlay .modal-content h2 {
  font-weight: normal;
  margin-bottom: 5px;
}

.modal-overlay .modal-content p {
  color: var(--fontColor-gray7);
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 60px;
}

.modal-overlay .close-modal {
  color: var(--fontColor-gray9);
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

/* === MODAL.ACTIVE === */
.modal-overlay.active {
  display: flex;
}

/* === ADMIN === */
.adminArea header {
  background-color: black;
  height: 80px;
  margin: 0 0 50px;
}

.adminArea header .container {
  height: 100%;
}

.adminArea header a {
  margin-left: 0;
}

.adminArea header a img {
  filter: invert(100%);
}

.adminArea .content-page.recipes div:last-child {
  margin-bottom: 50px;
}

.adminArea .content-block {
  grid-template-columns: 1fr 1fr;
}

.adminArea .content-block .card {
  display: flex;
}

.adminArea .content-block .card img {
  border-radius: 8.57px;
  height: 80px;
  margin-right: 20px;
  width: 172px;
}

.adminArea .details > div:first-child,
.adminArea .page-show-recipe > div:first-child,
.adminArea .page-admin-recipe > div:first-child {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.adminArea .page-show-recipe > div + div a {
  display: none;
}

.adminArea .details .item {
  position: relative;
}

.adminArea .card button,
.adminArea .details .item button,
.adminArea .page-show-recipe button,
.adminArea .content-block .card div a {
  background-color: transparent;
  color: var(--color-link);
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  padding: 0;
  text-decoration: none;
}

.adminArea .content-block .card div a,
.adminArea .details .item input {
  margin-top: 10px;
}

.adminArea .details button,
.adminArea .page-show-recipe a.button,
.adminArea .page-admin-recipe a.button {
  background-color: var(--color-link);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 9px 20px;
  text-decoration: none;
}

.adminArea #form-delete.details {
  position: absolute;
  right: 148px;
}

.adminArea #form-delete.details button {
  background-color: #dc4747;
}

.adminArea .details .item button {
  margin-top: 15px;
}

.adminArea .details .item div {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin: 30px 0 10px;
}

.adminArea .details .item div + div {
  margin: 0;
}

.adminArea .details .item input,
.adminArea .details .item textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--fontColor-black);
  font-family: var(--fontFace-roboto);
  font-size: 18px;
  height: 49px;
  line-height: 28px;
  padding: 0 15px;
  width: 100%;
}

.adminArea .details .item textarea {
  height: 227px;
  padding: 15px;
}

.adminArea .details .item textarea:first-child {
  display: none;
}

.adminArea .details .item input::placeholder {
  color: var(--fontColor-gray9);
}
