{% extends 'admin/layoutAdmin.njk' %}

{% block head_content %}
  <title>FOODFY - Edição da chef</title>
{% endblock %}

{% block content %}
  <form id="form-delete" class="details chef" method="POST" action="/admin/chefs?_method=DELETE">
    <input type="hidden" name="id" value="{{ chefs.id }}">
    <button type="submit">Deletar</button>
  </form>

  <form method="POST" action="/admin/chefs?_method=PUT">
    <section class="details">
      <div>
        <h2>Editando chef</h2>
        <button type="submit">Salvar chef</button>
      </div>

      {% include 'chefs/fields.njk' %}

      <input type="hidden" name="id" value="{{ chefs.id }}">
    </section>
  </form>

  <script>
    const formDelete = document.querySelector("#form-delete");
    formDelete.addEventListener("submit", function(event) {
      const confirmation = confirm("Deseja Deletar?");
      if (!confirmation) {
        event.preventDefault();
      }
    });
  </script>
{% endblock %}
